* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  background: black;
  font-family: sans-serif;
  color: white;
  padding: 2em;
  width: 560px;
  margin: 0 auto;
}

.links {
  margin-top: 1em;
}
.yellow{
  color: yellow;
}
.card-stuff{
  margin-top: 2rem;
}
.button{
  background: #FFE600;
  color: black;
  padding: 1rem;
  /* inline-block lets inline elements to have margin-top and bottom. */
  display: inline-block;
  margin-right: 0.3rem;
}
.button:hover{
  background-color: orange;
}

a {
  padding: 0 1em;
  text-decoration: none;
  cursor: pointer;
}

/* a:focus { /*it shows up when using keyboard to access the link. */
  color: aquamarine;
} */
a:hover { /*it shows up when we hover over the link using mouse. */
  color: firebrick;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}