* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: aqua;
  padding: 10% 20%;
}

ul {
  /* We have nested ul so em is a bad idea for font-size because em will multiply by the font-size of the parent's font-size. So, it's gonna be a compounding disaster. */
  /* font-size: 2em; */
}

.cta{
  background-color: orangered;
  padding: 10%;
}
.cta h2{
  font-size: 2em;
}

a{
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  padding: 1em;
  border: none;
}