@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@700&display=swap');

header {
  text-align: center;
}

nav ul {
  border: 2px solid magenta;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  border: 2px solid orange;
  /* we add padding and margin instead of width in ul because if we try to style it in ul, it would be a nightmare to add a new li when width can't accomodate new li. */
  margin: 0 1em;
}

nav a {
  border: 2px solid green;
}

nav a:hover{

}