@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #2e354f;
}

h1,
h2,
strong {
  font-weight: 900;
}

/* Typography */

h1{
  font-size: 36px;
  margin: 0;
  /* font-weight: 900; */
  /* font color white will not be here. It'll generically be put on section */
}

h2{
  font-size: 24px;
  color: #ef5839;
  /* font-weight: 900; */
}
img{
  width: 100%;
}

/* link styles should not be grouped with other selectors */
a{
  color: #ef5839;
}
a:hover,
a:focus{
  color: #d4b44c; 
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

.btn-accent{
  background: #ef5839;
  color: #fff;
}
.btn-accent:hover{
  background: #2e354f;
}

.btn-white{
  background-color: #fff;
  color: #2e354f;
}
.btn-white:hover{
  background-color: #999;
  color: #fff;
}

/* Layout */

header {
  
  background: #2e354f;
  padding: 45px 0;
  color: #fff;
}

section{
  padding: 45px 0;
}

/* percentages are relative to the parent containers. */
/* width in percentage works good with max-width. Percentage will assure the percentage and max-width will let it only happen until the specified size. So, it's very good to have max-width. It tackles both desktop with max-width and with percentage it tackles mobile.  */
.container{
  width: 85%;
  max-width: 620px;
  margin: 0 auto;
  /* border: 2px solid magenta; */
}

.section-two {
  background-color: #2e354f;
  color: #fff;
}


